$bg-color: #131313;
$desktop-width: 1438px;
$alt-text-color: #E3B873;
$text-color: #FFFFFF;

@font-face {
    font-family: 'font363c763618808869720c6ca7b4059566';
        
        src:    url('https://nomail.com.ua/files/eot/363c763618808869720c6ca7b4059566.eot?#iefix') format('embedded-opentype'),
                url('https://nomail.com.ua/files/woff/363c763618808869720c6ca7b4059566.woff') format('woff'),
                url('https://nomail.com.ua/files/woff2/363c763618808869720c6ca7b4059566.woff2') format('woff2');
}
    
@font-face { font-family: 'FuturaBookC';  src: local('FuturaBookC'), url('https://nomail.com.ua/files/woff/363c763618808869720c6ca7b4059566.woff') format('woff'); }

@font-face {
    font-family: 'fontfa7892c650d8237d04043b1cf3cdc49f';
        
        src:    url('https://nomail.com.ua/files/eot/fa7892c650d8237d04043b1cf3cdc49f.eot?#iefix') format('embedded-opentype'),
                url('https://nomail.com.ua/files/woff/fa7892c650d8237d04043b1cf3cdc49f.woff') format('woff'),
                url('https://nomail.com.ua/files/woff2/fa7892c650d8237d04043b1cf3cdc49f.woff2') format('woff2');
}

@font-face { font-family: 'FuturaDemiC';  src: local('FuturaDemiC'), url('https://nomail.com.ua/files/woff/fa7892c650d8237d04043b1cf3cdc49f.woff') format('woff'); }

body {
    background-color: $bg-color;
}

main {
    width: $desktop-width;
    margin: 0 auto;
}
header {
    display: flex;
    h1 {
        text-transform: uppercase;
        font-size: 14px;
        color: $alt-text-color;
        padding: 20px 70px 0px;
        font-family: 'FuturaBookC'; 
    }
}
nav {
    ul {
        display: flex;
        padding: 0;
        margin: 0;
        padding-left: 45px;
        li {
            list-style: none;
            text-transform: uppercase;
            color: $text-color; 
            margin: 27px 0;
            margin-right: 50px;
            font-size: 14px;
            font-family: 'FuturaBookC';
            a {
                color: $text-color;
                text-decoration: none;
                &:hover {
                    color: $alt-text-color;
                }
            }             
        }
    }
}
.tel-num {
    font-size: 14px;
    margin: 27px;
    a {
        color: $alt-text-color;
        font-family: 'FuturaDemiC';
    }
}
.btn {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'FuturaDemiC';
    background-color: $alt-text-color;
    border-radius: 3px;
    border: 1px solid #E3B873;
    padding-left: 23px;
    padding-right: 31px;
    padding-top: 11px;
    margin-top: 15px;
    margin-bottom: 17px;
    margin-left: 9px;
    cursor: pointer;
}
.container {
    display: flex;
}
.left-container {
    color: $alt-text-color;
    text-transform: uppercase;
    width: 80px;
    height: 80px;    
    a {
        display: block;
        transform: rotate(90deg);
        color: #E3B873;
        font-family: 'FuturaDemiC';
        text-decoration: none;
        width: max-content;
        margin-left: -25px;
        margin-top: 300px;
        img {
            display: inline-block;
            transform: rotate(90deg);
        }
    } 
}
.main-container {
    color: $text-color;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(/src/assets/image43.png);
    width: 100%;
    background-blend-mode: multiply;
    .text-container {
        width: 45%;
        padding-top: 165px;
        padding-left: 60px;
        h2 {
            text-transform: uppercase;
            font-size: 40px;
            span {
                color: $alt-text-color;
            }
        }
        p {
            width: 70%;
            font-size: 22px;
            font-family: 'FuturaBookC'; 
        }
    }        
}
.buttons {
    display: flex;
    padding-bottom: 200px;
    .btn {
        width: 207px;
        height: 51px;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 29px;
        margin-right: 15px;
        &:last-child {
            background-color: rgba(0, 0, 0, 0);;
            border-radius: 3px;
            border: 1px solid #FFFFFF;
        }       
    }
}
.scroll-btn-container {
    display: grid;
    grid-template-columns: 250px 10fr;
    .scroll-btn {                
        position: relative;
        height: 100px;
        top: -40px;
        background-color: #131313;
        a {
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 10px;
            img {
                padding-right: 26px;
                padding-left: 18px;
            }
        }
    }
}
